<h1>SIGN UP</h1>
<form action="/auth/signup" method="POST">
<div class="form-group">	
	<label for="email">Email</label>
	<input type="email" name="email" class="form-control" placeholder="Email goes here">	
</div>	
<div class="form-group">	
	<label for="password">Password</label>
	<input type="password" name="password" class="form-control" placeholder="Password...">
</div>
<div class="form-group">	
	<label for="name">Name</label>
	<input type="text" name="name" class="form-control" placeholder="Name...">
</div>
<div class="form-group" id='instruments'>
	<label for="instruments">Instruments</label>
	<br><input type="checkbox" name="instruments" value="Guitar">Guitar
	<br><input type="checkbox" name="instruments" value="Bass">Bass 
	<br><input type="checkbox" name="instruments" value="Drums">Drums 
	<br><input type="checkbox" name="instruments" value="Agressive Vocals">Vocals (Agressive)
	<br><input type="checkbox" name="instruments" value="Vocals">Vocals
	<br><input type="checkbox" name="instruments" value="Keys-Synth">Keys/Synth 
</div>
<div class="form-group" id='genres'>
	<label for="genres">Genres I would like to play:</label>
	<br><input type="checkbox" name="genresToPlay" value="Rock">Rock
	<br><input type="checkbox" name="genresToPlay" value="Metal">Metal 
	<br><input type="checkbox" name="genresToPlay" value="Post-Hardcore">Post-Hardcore 
	<br><input type="checkbox" name="genresToPlay" value="Indie-Rock">Indie Rock
	<br>
</div>

<input type="submit" value="sign up!" class="btn btn-success">
</form>