<link rel="stylesheet" href="/styles/home.css">

<div class="home-container">
	<div class="overlay">
		<h1 class='home-title display-1'>JamMate</h1>
		<h4 class='home-subtitle'>Find new bandmates near you, anywhere you are</h4>
	</div>
</div>