<!DOCTYPE html>
<html>
 <head>
   <meta charset=“UTF-8”>
   <title>JamMate</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../scripts/main.js"></script>
 </head>
 <body>

<div class="container">
	<%  include partials/alerts %>
	<%- body %> 
	<hr>
	<div class="row">
		<div class="col-12">
		<a href="/" class="btn btn-info">HOME</a>
		<% if(!currentUser) {%>
		<a href="/auth/login" class="btn btn-primary">LOGIN</a>
		<a href="/auth/signup" class="btn btn-success">SIGN UP</a>
		<%} else {%>
		<a href="/profile/search" class="btn btn-primary">SEARCH</a>
		<a href="/auth/logout" class="btn btn-warning">LOGOUT</a>
		<a href="/profile" class="btn btn-danger">PROFILE</a>
		<% } %>
		</div>
	</div>
</div>
 
</body>
</html>