body{
	background-image: url(/music.jpg);
    background-size: cover;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    
}

h1 text-shadow{
	color:red;
	animation: titleanim 2s ease-in-out infinite alternate;
	-webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

h1{
	font-size: 20em;
	position: unset;
	color:floralwhite;
	text-align: -webkit-center;
	text-shadow: 0px 4px 3px rgb(255, 252, 252), 0px 8px 13px rgb(0,0,0), 0px 18px 23px rgb(255, 255, 255), 0px 4px 3px rgb(0,0,0), 0px 8px 13px rgb(0,0,0), -1px -20px 23px rgb(0,0,0);
}


body background-image{
	 -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

/*@-webkit-keyframes pulsate {
    0% {color: white}
    20% {color: white}
    40% {color: white}
    60% {color: blue}
    80% {color: blue}
    100% {color: blue}
}*/
/*@-moz-keyframes pulsate {
    0% {color: white}
    20% {color: white}
    40% {color: lightblue}
    60% {color: lightblue}
    80% {color: blue}
    100% {color: lightblue}
}*/
/*@keyframes titleanim {
    0% {color: white}
    20% {color: white}
    40% {color: white}
    60% {color: blue}
    80% {color: blue}
    100% {color: blue}
}*/

@keyframes titleanim {
	from{color:white}
	to{color:black};
/*	to{color:#fdfdfdad}
*/}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
