font-family: 'Oxygen', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Open Sans Condensed', sans-serif;*/


body{
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url("/binding_dark.png");
}

.navbar-brand, h1{
	font-family: 'Amatic SC', cursive;
}


.navbar-dark .navbar-nav .nav-link{
color:#007bff
}

.nav-item{
	font-family: 'Oxygen', sans-serif;
}

.navbar-brand{
	font-size:30px;
}

h2{
	/*color:red;*/
	text-align: center;
}

p{
	text-align: center;
}

.card-head{
	background:url"/rebel.png";
}

.user-card{
	background: beige;
}

.navbar {
/*  font-size: 20px;
*/  background-color: #333;
  border: 0;
  border-radius: 0;
}

.bg-dark{
	background-color:#000000de!important
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus{
  box-shadow: 2px -3px 1em 8px rgb(255, 255, 255); 
  transition: all .6s;
  background-color: #040404bf;
}

.navbar a{
    transition: all 3s;
}
.navbar a:hover{
	box-shadow: 2px -3px 1em 8px rgb(255, 255, 255); 
  	transition: all .6s;
    background-color: #040404bf;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}


/*h2:nth-child(2n+1){
	background: #4c8fd2;
}